section.about#about
  .about-text
    p EZ Home Staging has a simple goal. We want to help you sell your home faster and for more money. Whether you need a single room staged or your entire home, we are here to help. EZ Home Staging offers a tiered pricing model; however, there is no initial charge or risk to you beyond a set-up fee ranging from $299-$599 for the first three months. If you choose to work with us and your home doesn’t sell in three months, we will pick up our furniture and accessories giving you an invoice for exactly $0, you only pay the intial set-up fee.
