section.comparison

  .cta
    p Still not sold? Check out these numbers based on standard industry pricing.

  .home-size
    .icon
    .number
      p 2,500 sq ft

  .comparison-container

    .standard-company
      .title
        p Some Other Company
      .breakdown-container
        .line-items
          p testing
          p how
          p this
          p works
          p terder
        .prices
          p testing
          p how
          p this
          p works
          p terder
      .total-container
        .total-price
          p.total Total (upfront)
          p.number xxx,xxx
        .icon-thumbdown

    .ezhs
      .title
        p EZ Home Staging
      .breakdown-container
        .line-items
          p testing
          p how
          p this
          p works
          p terder
        .prices
          p testing
          p how
          p this
          p works
          p terder
      .total-container
        .total-price
          p.total Total (if home sells)
          p.number xxxx,xxx
        .icon-thumbup
  
