section.comparison

  .cta
    p Still not sold? Check out these numbers based on standard industry pricing.

  .home-size
    .icon
    .number
      p 2,500 sq ft

  .comparison-container
    .standard-company-container
      .standard-company
        .title
          p Some Other Company
        .breakdown-container
          .line-items
            p testing
            p how
            p this
            p works
            p terder
          .prices
            p testing
            p how
            p this
            p works
            p terder
        .total-container
          .total-price
            p.total Total (upfront)
            p.number xxx,xxx
          .icon-thumbdown
      .other-desc
        p.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.

    .ezhs-container
      .ezhs
        .title
          p EZ Home Staging
        .breakdown-container
          .line-items
            p testing
            p how
            p this
            p works
            p terder
          .prices
            p testing
            p how
            p this
            p works
            p terder
        .total-container
          .total-price
            p.total Total (if home sells)
            p.number xxxx,xxx
          .icon-thumbup
      .ezhs-desc
        p.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
