section.comparison
  .cta
    p Still not sold? Check out these numbers based on standard industry pricing.
  .home-size
    .icon
    .number
      p 2,500 sq ft
  .comparison-container
    .standard-company-container
      .standard-company
        .title
          p Some Other Company
        .breakdown-container
          .line-items
            p Set-Up Fee
            p Staging and Design Fees
            p Delivery and Pick-Up
            p Furniture Rental (monthly)
            p Accessory Rental (monthly)
          .prices
            p N/A
            p $1695
            p $450
            p $3500 (x3 mo.)
            p $600 (x3 mo.)
        .total-container-1
          .total-price
            p.total Total (upfront)
            p.number $14,445
          .icon-thumbdown
      .other-desc
        p.desc If you went with another staging company, you'd be paying almost 3x the price we would charge you. Most importantly, this would be charged UP FRONT before your home even sells.
    .ezhs-container
      .ezhs
        .title
          p EZ Home Staging
        .breakdown-container
          .line-items
            p Set-Up Fee
            p Delivery and Pick-Up
            p Furniture and Accessories
          .prices
            p $299
            p $4500
            p $0
        .total-container-2
          .total-price
            p.total Total (if home sells)
            p.number $4,799
          .icon-thumbup
      .ezhs-desc
        p.desc With EZ Home Staging, you're paying 1/3 the price, ONLY if your home sells. If you're unhappy with the results within three months, or your home doesn't sell, we will pick up our furniture and accessories, charging you exactly $0 dollars.

  .before-after-1#before-after
  .gallery
    p Gallery Coming Soon
