section.footer
  .ezhs-footer
    .ezhs-logo
    .ezhs-facebook
      .icon
  .sfd-footer
    a(href="http://www.sudfrancedesign.com" target="_blank").sfd-logo
    a(href="https://www.facebook.com/sudfrancedesign/" target="_blank").sfd-facebook
      .icon
