section.footer
  .ezhs-footer
    .ezhs-logo
    a(href="https://www.facebook.com/ezhomestaging/?fref=ts" target="_blank").ezhs-facebook
      .icon
  .sfd-footer
    a(href="http://www.sudfrancedesign.com" target="_blank").sfd-logo
    a(href="https://www.facebook.com/sudfrancedesign/" target="_blank").sfd-facebook
      .icon
p.copyright Copyright &copy; 2016 EZ Home Staging. All rights reserved.
