section.header
  .header-wrap
    .brand
    .top-nav
      ul.desktop-nav
        li: a(href="#about") about
        li: a(href="#before-after") gallery
        li: a(href="#contact") contact
    .hamburger
      .line-1
      .line-2
      .line-3

.mobile-nav
  ul
    li: a(href="#about") about
    li: a(href="#before-after") gallery
    li: a(href="#contact") contact
