//this is the markup for the main "hero" image of the website, or slider, whatever it becomes
section.jumbotron
  .jumbotron-text
    .headline
      p zero-risk home staging
    .jumbo-desc
      p we only make money when you make money,
      p trust us to help you sell your home
    a(href='#contact').jumbo-btn
      .btn-text
        p email us for a quote
