section.panels
  .panel-container

    .panel-1
      .icon-1-container
        .icon-1
      .title-1
        p Decorate it Better
      .desc-1
          p Allow us to decorate your home and make it look professional and personal. Give your home the make-over it deserves and show potential buyers how amazing their future home is!

    .panel-2
      .icon-2-container
        .icon-2
      .title-2
        p Make More Money
      .desc-1
          p Data supports claims that home staging can increase the sale price of a home by at least 3%. It may not sound like much, but at a sale price of $200,000, that means you're making an extra $6,000.

    .panel-3
      .icon-3-container
        .icon-3
      .title-3
        p Sell it Faster
      .desc-1
          p Staged homes sell anywhere from 20-50% faster than un-staged homes. People want to buy and live in a home that looks and feels great, let us help you with that.
