section.panels
  .panel-container

    .panel-1
      .icon-1-container
        .icon-1
      .title-1
        p Decorate it Better
      .desc-1
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation lorem

    .panel-2
      .icon-2-container
        .icon-2
      .title-2
        p Make More Money
      .desc-1
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation

    .panel-3
      .icon-3-container
        .icon-3
      .title-3
        p Sell it Faster
      .desc-1
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
