<section class="about" id="about">
  <div class="about-text">
    <p>EZ Home Staging has a simple goal. We want to help you sell your home faster and for more money. Whether you need a single room staged or your entire home, we are here to help. EZ Home Staging offers a tiered pricing model; however, there is no initial
      charge or risk to you for the first three months. If you choose to work with us and your home doesn’t sell in three months, we will pick up our furniture and accesories and give you an invoice for exactly $0, yes, ZERO dollars. You only pay us if
      your home sells. </p>
  </div>
</section>