.contact-cta
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background: $bluegrey
  color: white
  .headline
    display: flex
    align-items: center
    justify-content: center
    width: 650px
    margin-bottom: 40px
    text-align: center
    p
      padding-top: 30px
      margin: 0
      font-family: $mainfont
      font-size: 22pt
      font-weight: bold
  .cta-text
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    width: 650px
    padding-bottom: 30px
    p
      margin: 0
      font-family: $mainfont
      font-size: 14px
      line-height: 25px
      letter-spacing: 1px
      font-weight: 600

@media (max-width: 760px)
  .contact-cta
    width: 100vw !important
    .headline, .cta-text
      width: 100% !important

@media (max-width: 500px)
  .contact-cta
    .headline
      margin-bottom: 20px !important
      p
        font-size: 18pt !important
    .cta-text
      p
        font-size: 10pt !important
        padding: 0px 10px !important
