//this is the main layout of the website
//base properties pertaining to overall layout are included here
//certain resposive properties are also set here

.home-wrap
  display: flex
  flex-direction: column
  background: pink
  min-height: 100vh
  width: 100vw
  height: auto

.content-sections-1, .content-sections-2
  display: flex
  flex-direction: column
  flex: 1
  align-self: center
  width: 1000px
  height: auto
  background: lightskyblue

.about-section
  display: flex
  flex-direction: column
  background: $purple
  width: 100vw
  height: auto



@media (max-width: 960px)
  .content-sections-1, .content-sections-2
    width: 100vw !important
